@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

div {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #151515;
}

html {
    scroll-behavior: smooth;

}

body,
div {
    scrollbar-width: none;
    /* Firefox */
    scrollbar-color: #FA6601 #f1f1f1;
    /* Firefox */
}

::-webkit-scrollbar {
    width: 10px;
    /* Lebar scrollbar */
}

::-webkit-scrollbar-track {
    background: #373737;
}

::-webkit-scrollbar-thumb {
    background: #585757;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(119, 119, 119);
}
:root {
    --mouse-x: 50%;
    --mouse-y: 50%;
  }

.mask {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    mask: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      transparent 1px,
      rgb(255, 255, 255) 200px
    );
    -webkit-mask: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      transparent 1px,
      #282828 200px
    );
  }